body{
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo_principal{
    font-size: 60px;
    text-align: center;
	background-color: #851944;
    color: #FFF;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid black;
    text-transform: uppercase;
}

p{
    text-align: justify;
    margin: 20px 0;
}

.navegacao-site {
    margin-bottom: 25px;
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

.rodape{
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

nav a {
    color: #F2FFFC;
    text-decoration: none;
    text-transform: lowercase;
    font-size:  19.5
}

main a {
    color: #851944;
    text-decoration: none;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

.icones_redes_sociais li {
    display: inline-block;
}

.icones_redes_sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    /*text-indent: -99999px;
    font-size: 0; 
    serve para esconder as palavras da bio.html (github, twitter, linkedin) */
    color: transparent;
}

blockquote, aside, footer{
    padding: 20px;
}

.div_center{
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

h2 {
    font-size: 30px;
    clear: both;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

aside{
    float: right;
    width: 15%;
    clear: right;
    box-sizing: border-box;
    position: relative;
    top: 300px;
}

main {
    float: left;
    width: 85%;
    padding-bottom: 80px;
}

footer{
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.navegacao-site, .minha_foto {
    float: right;
	width: 15%;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha_foto{
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
}
